
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>No. porsi haji</title>

    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
      <a class="navbar-brand" href="#">Pencarian tahun keberangkatan haji</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
          <div class="row">
              <div class="col-sm-12">
                <h1>Masukkan no. porsi haji anda</h1>
                  <p class="lead">Masukkan porsi untuk mendapatkan detail informasi keberangkatan anda</p>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-6 offset-sm-3">
                  <form action="{{ url_for('home')}}" method="post">
                      <div class="form-group">
                          <input type="text" class="form-control" name="no_porsi" id="no_porsi" placeholder="no.porsi haji" value="{{ data['no_porsi'] }}">
                      </div>
                      <button type="submit" class="btn btn-danger">Kirimkan</button>
                  </form>
              </div>
          </div>
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
